.content-area {

}

.site-main {
  //shifts right 25%
  //	margin: 0 $size__site-sidebar 0 0;
  background: #b2b2b2;
}

//SideBar
.site-content .widget-area {
  float: none;
  overflow: hidden;
  padding: 4rem;
  max-width: 780px;
  width:auto;
  margin: 1em auto 0;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

//main content area
.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation{
  position: relative;
  max-width: 780px;
  max-width: 78 rem;
  padding: 0 4rem;
  margin: 0 auto;
}


//MEDIA QUARIES

@media screen and (min-width: 1160px) {

  .entry-header,
  .entry-content,
  .entry-meta,
  .entry-footer,
  .tag-links,
  .post-navigation,
  .comments-area,
  .paging-navigation{
	margin-right: 0;
  }

  .site-content .widget-area {
	float: right;
	max-width: none;
	width: $size__site-sidebar;
	margin:0;
  }

  .content-area {
	float: left;
	//shifted -25% of the size of the sidebar
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main; //100%
	margin-left: -380px;
	padding-left: 380px;
  }
}

@media screen and (min-width: 1600px) {
  .entry-header,
  .entry-content,
  .entry-meta,
  .entry-footer,
  .tag-links,
  .post-navigation,
  .comments-area,
  .paging-navigation{
	margin-right: 170px;
  }

}